<%- include('../partials/header') %>
<h1>MOVIE</h1>
<div>
  <h1><%= movie.title %></h1>
  <p><%= movie.overview %></p>
  <img
    src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>"
  />
</div>
<%- include('../partials/footer') %>
